@import '@/styles/colors';
@import '@/styles/mixins';

.fixedWrapper {
  position: fixed;
  width: pxToRem(250);
}

.navArea {
  display: flex;
  flex-direction: column;
  width: pxToRem(204);
  margin: 0 auto;
}

.logo {
  width: 60px;
  margin: 30px 0;
}

.icon {
  margin: 8px;
}