$background: #f6f4f1;
$foreground: #020817;
$white: #fff;
$black: #000;
$danger: #ef4343;
$gray-strong: #888888;
$gray-normal: #cccccc;
$gray-light: #eeeeee;

$primary: #c29dff;
$primary-foreground: #f8fafc;
$secondary: #f1f5f9;
$secondary-foreground: #0f1729;
$muted-foreground: #65758b;
$destructive: #ef4343;
$border: #e1e7ef;

$muted-foreground: #94a3b8;
$destructive: #7b1e1e;