$primary: #c29dff;
$third: #A87DED;
$white: #fff;
$black: #343434;
$danger: #ef4343;
$gray-strong: #858585;
$gray-normal: #cccccc;
$gray-light: #eeeeee;

$background: #f6f4f1;
$secondary: #E8DAFF;
$muted-foreground: #65758b;
$border: #e1e7ef;
$secondary-light: #F8F3ff;

$dark-muted-foreground: #94a3b8;
$dark-destructive : #7c1d1d;