@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './colors';

@layer base {
  :root {
    --background: #{$white};
    --third: #{$third};
    --ghost: #{$gray-strong};
    --foreground: #{$black};
    --card: #{$white};
    --card-foreground: #{$black};
    --popover: #{$white};
    --popover-foreground: #{$black};
    --primary: #{$primary};
    --primary-foreground: #{$white};
    --secondary: #{$secondary};
    --secondary-foreground:#{$white};
    --muted: #{$secondary};
    --muted-foreground: #{$muted-foreground};
    --accent: #{$gray-strong};
    --accent-foreground: #{$white};
    --destructive: #{$danger};
    --destructive-foreground: #{$danger};
    --border: #{$primary};
    --input: #{$primary};
    --ring: #{$primary};
    --radius: 1.5rem;
  }

  .dark {
    --background: #{$black};
    --foreground: #{$white};
    --card: #{$black};
    --card-foreground: #{$white};
    --popover: #{$black};
    --popover-foreground: #{$white};
    --primary: #{$primary};
    --primary-foreground: #{$white};
    --secondary:#{$white};
    --secondary-foreground: #{$white};
    --muted:#{$white};
    --muted-foreground: #{$dark-muted-foreground};
    --accent:#{$white};
    --accent-foreground: #{$white};
    --destructive: #{$dark-destructive};
    --destructive-foreground: #{$danger};
    --border: #{$primary};
    --input:#{$white};
    --ring: #{$primary};
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

* {
  line-height: 1;
}
