@import '@/styles/colors';
@import '@/styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
}

.topWrapper {
  width: pxToRem(680);
  height: pxToRem(240);
  background-color: $white;
}

.fixedWrapper {
  z-index: 2;
  position: fixed;
  top: 0;
  width: inherit;
  height: inherit;
  padding-top: pxToRem(30);
  background-color: $white;
}

.titleArea {
  margin-bottom: pxToRem(16);
  padding: 0 pxToRem(26) pxToRem(16) pxToRem(26);
  background-color: $white;
}

.title {
  margin-bottom: pxToRem(16);
}

.profileContainer {
  margin: pxToRem(16) 0;
}

.profileArea {
  display: flex;
  align-items: center;
}

.profile {
  width: pxToRem(120);
  height: pxToRem(120);
  margin-right: pxToRem(24);
}

.nickNameArea {
  display: flex;
  align-items: center;
  margin-bottom: pxToRem(4);
}

.nickName {
  margin-right: pxToRem(8);
}

.content {
  margin-bottom: pxToRem(16);
}

.followInfoArea {
  display: flex;
}

.count {
  margin-right: pxToRem(4);
}

.countLabel {
  margin-right: pxToRem(8);
}

.menuArea {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: pxToRem(12) 0;
  border-top: 1px solid $secondary;
  border-bottom: 1px solid $secondary;
}

.whisperWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
