@import '@/styles/colors';

.container {
  padding: 12px 20px;

  a {
    display: flex;
  }

  svg {
    margin-right: 20px;
    &[class*='home'] {
      fill: currentColor;
      stroke: currentColor;
    }
    &[class*='message'] {
      fill: none;
      stroke: currentColor;
    }
    &[class*='alert'] {
      fill: currentColor;
      stroke: none;
    }
    &[class*='setting'] {
      fill: none;
      stroke: currentColor;
    }
    &[class*='theme'] {
      fill: currentColor;
      stroke: none;
    }
  }
}
