@import '@/styles/mixins';

.commentArea {
  display: flex;
  align-items: flex-start;
  padding: pxToRem(10) 0;
  margin-left: pxToRem(16);
}

.nickNameArea {
  display: flex;
  align-items: center;
}

.nickName {
  width: pxToRem(60);
  margin: 0 6px;
  word-wrap: break-word;
}

.profile {
  width: pxToRem(20);
  height: pxToRem(20);
}

.contentGroup {
  display:flex;
  position: relative;
  width: 100%;
}
.contentArea {
  width: pxToRem(218);
}

.actionContainer {
  position:absolute;
  right: 0;
  bottom: 0;
  display: flex;
}

.icon {
  margin-right: 4px;

  &:last-child {
    margin-right: 0;
  }
}
