@import '@/styles/colors';
@import '@/styles/mixins';

.container {
  display: flex;
  @include container();

  .error {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      margin-top: 0.725rem;
      margin-bottom: 0.5rem;
      font-size: 2.5rem;
    }
    
    .status {
      font-weight: bold;
      font-size: 5rem;
      color: $primary;
    }
    .link {
      display: inline-block;
      margin-top: 2rem;
      color: $primary;
      text-decoration-line: underline;
      font-weight: 600;
    }
  }
}
