@import '@/styles/colors';
@import '@/styles/mixins';

.container {
  // min-height: pxToRem(488);
  margin: pxToRem(16) 0;
  padding: pxToRem(16);
  border-bottom: 1px solid $secondary;
}

.imageArea {
  width: pxToRem(468);
  height: pxToRem(350);
  margin-bottom: pxToRem(16);
  border-radius: pxToRem(30);
  background-color: $secondary;
}

.actionContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: pxToRem(16);
  padding: 0 pxToRem(16);
}

.actionGroup {
  display: flex;
  align-items: center;
}
.contentContainer {
  display: flex;
  width: pxToRem(500);
  padding: pxToRem(6);
}

.nickNameArea {
  width: pxToRem(70);
  margin-right: pxToRem(20);
}

.nickName {
  width: 100%;
  word-wrap: break-word;
}

.contentArea {
  width: 100%;
}

.hashTag {
  color: $primary;
}

.icon {
  cursor: pointer;
  margin-right: pxToRem(12);

  &:last-child {
    margin-right: 0;
  }
}

.commentPostArea {
  margin-top: pxToRem(18);
}

.commentPost {
  display: flex;
  align-items: center;
  padding: pxToRem(10) pxToRem(34);
  border-radius: 25px;
  color: $gray-strong;
  background-color: $secondary-light;
}

.commentInput {
  width: 100%;
  background-color: $secondary-light;
  &:focus {
    outline: none;
  }
}

.content {
  white-space: pre-line;
  word-break: break-all;
}