@import '@/styles/colors';

.container {
  min-height: 488px;
  margin: 16px 0;
  padding: 16px;
}

.imageArea {
  width: 468px;
  height: 350px;
  margin-bottom: 16px;
  border-radius: 30px;
  background-color: $secondary;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  object-fit: cover;
}

.actionContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 16px;
  padding: 0 15px;
}

.contentContainer {
  display: flex;
  width: 500px;
  padding: 5px;
}

.nickNameArea {
  width: 70px;
  margin-right: 20px;
}

.nickName {
  width: 100%;
  word-wrap: break-word;
}

.contentArea {
  width: 100%;
}

.icon {
  margin-right: 5px;
}