@import '@/styles/colors';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
}

.topWrapper {
  width: 681px;
  height: 160px;
  background-color: $white;
}

.fixedWrapper {
  position: fixed;
  top: 0;
  width: inherit;
  height: inherit;
  padding-top: 30px;
  background-color: $white;
}

.titleArea {
  // height: 149px;
  margin-bottom: 16px;
  padding: 0 27px 16px 27px;
}

.title {
  margin-bottom: 17px;
}

.subTitleArea {
  margin: 16px 0;
  padding: 12px 0;
  border-top: 1px solid $secondary;
  border-bottom: 1px solid $secondary;
  text-align: center;
}

.whisperWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
