@import '@/styles/mixins';
@import '@/styles/colors';

.container {
  @include container();
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  max-width: pxToRem(320);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: pxToRem(24);
  color: $black;
}

.logoWrap {
  display: flex;
  justify-content: center;
  flex: 1 0 0;
}
