@import '@/styles/colors';
@import '@/styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: pxToRem(134);
  margin: 0 auto;
  margin-bottom: pxToRem(40);
}

.profileArea {
  display: flex;
  justify-content: center;
  margin-bottom: pxToRem(12);
}

.profile {
  width: pxToRem(80);
  height: pxToRem(80);
}

.nameArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nameInfo {
  display: flex;
  flex-direction: column;
}

.content {
  margin: pxToRem(12) 0;
}

.followContainer {
  display: flex;
}

.label:first-child {
  margin-right: pxToRem(4);
}

.count {
  margin-right: pxToRem(4);
}
