@import '@/styles/colors';
@import '@/styles/mixins';

.modalBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.postArea {
  z-index: 1;
  position: relative;
  height: 0;
  top: 15%;
}

.form {
  width: pxToRem(680);
  border-radius: 20px;
  background-color: $white;
}

.container {
  width: 100%;
  padding: pxToRem(16);
  border: 1px solid $primary;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 16px;
}

.textareaContainer {
  position: relative;
}
.textArea {
  width: 100%;
  border: none;
  resize: none;
  background-color: transparent;
  color: $primary;
}

.contentArea {
  position: absolute;
  top: 0;
  white-space: pre-line;
}

.fileIcon {
  width: pxToRem(26);
  height: pxToRem(26);
  cursor: pointer;
}

.fileInput {
  display: none;
}

.btnArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn {
  width: pxToRem(100);
}

.previewContainer {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-bottom: pxToRem(10);
}

.imageArea {
  position: relative;
  width: pxToRem(100);
  height: pxToRem(100);
  margin-right: 4px;
  border-radius: 10px;
}

.previewImg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.previewClose {
  position: absolute;
  top: 4px;
  right: 4px;
}

.hashTag {
  color: $primary;
}

.closeBtn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4px;
}
